*{
    margin:0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    gap: 10px; 
    background: linear-gradient(135deg, #1B63A6 30%, #FFFFFF 60%, #000000 100%);
    height:fit-content;
    max-width: 100%;
    height:100vh;
}

#logo{
    width:100px;
    height:100px;
    border-radius: 100%;
}
#login-box{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px;
    gap:25px;
}
#lines{
    display: flex;
    flex-direction: row;
}
#remember{
    display: flex;
    align-items: space-between;
    gap:3em;
}
.submit-btn {
    border-radius: 40px;
    text-align:center;
    font-size: large;
    height:45px;
    width: 250px;
    cursor: pointer;
    background-color: rgb(198, 194, 194);
    color:#000000;
    font-weight: 600;
}

.submit-btn:hover {
    background-color: #e0e0e0;
    color: #333;
}

#fp{
    color: rgb(40, 64, 168);
    text-decoration: none;
}

#checkbox{
    display: flex;
    gap:5px;
    color:white;
}
#username{
    border:2px solid black;
    border-radius: 20px;
    text-align:left;
    padding-left:24px;
    height: 45px;
    width: 250px;
    background-color: white;
}  
#icons{
    display: flex;
    gap:50px;
    font-weight: 700;
}
#icon{
    display:flex;
    padding:10px;
    flex-direction:row;
    width: 150px;
    height:40px;
    background-color:white;
    font-size:larger;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#icon1{
    display: flex;
    align-items: center;
    padding-right:10px;
    color: blue;
}
#icon2{
    display: flex;
    align-items: center;
    padding-right:10px;
    color: #4285F4;
}

